/* hide from quick shop modals */
.modal--quick-shop monogram-toggle {
  display: none;
}

#monogram-form label.active {
  box-shadow: 0 0 0 1px var(--colorTextBody);
}

monogram-customizer .text-overlay {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

/* visually reorder for traditional monogram styling */
monogram-customizer .text-overlay.monogram .middle {
  order: 3;
}

monogram-customizer .text-overlay.monogram .last {
  font-size: 1.75em;
  line-height: 1em;
}


.MonogramButtons,
.MonogramInputs fieldset {
  display: flex;
  gap: 1em;
}
.MonogramInputs {
  margin-bottom: 1em;
}

.MonogramInputs .field {
  display: flex;
  flex-direction: column;
}

.MonogramInputs input {
  min-width: 10px;
  width: 100%;
  margin-right: 4px;
}

monogram-toggle { 
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

label[for="add-monogram"] {
  margin-bottom: 0;
  letter-spacing: 0 !important;
}

.monogram-button-wrapper {
  width: 100%;
  margin: 1em 0;
}

.monogram-button-wrapper small {
  margin-top: 1em;
}

.MonogramButtons label {
  padding: 1em;
  text-align: center;
  background-color: var(--colorBody);
  box-shadow: 0 0 0 1px var(--colorBorder);
}

.MonogramButtons img {
  width: 96px;
  margin: auto;
  opacity: 1;  /* This is a bug and should be fixed without the opacity override */
}

monogram-customizer .image-wrap.loaded {
  background: none;
}
span.text-overlay {
  font-size: 3.5em;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent;
  background: url(//cdn.shopify.com/s/files/1/0833/2853/files/green-thread_small.jpg?v=1648493344);
  background-size: 100px;
  text-shadow: 0px 0px 2px #36530e1a;
  filter: drop-shadow(-1px -1px 1px rgba(0,0,0,30%)) drop-shadow(1px 1px 1px rgba(0,0,0,30%));
  text-shadow: 2px 1px 0px rgb(0 0 0 / 20%), 0px -1px 0px rgb(255 255 255 / 1%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  line-height: 1em;
}

.text-overlay.classic span {
  font-family: serif;
  font-weight: 600;
}
.text-overlay.monogram span{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.text-overlay.block  {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}