/* hide from quick shop modals */
.modal--quick-shop monogram-toggle {
  display: none;
}

#monogram-form label.active {
  border: 1px solid #000;
}

monogram-customizer .text-overlay {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

/* visually reorder for traditional monogram styling */
monogram-customizer .text-overlay.monogram .middle {
  order: 3;
}

monogram-customizer .text-overlay.monogram .last {
  font-size: 30px;
}

.MonogramButtons {
  display: flex;
}

.MonogramInputs .field {
  display: flex;
  flex-direction: column;
}

.MonogramInputs fieldset {
  display: flex;
}

.MonogramInputs input {
  min-width: 10px;
  margin-right: 4px;
}
